.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
}

.book-item {
  text-align: center;
}

.book-item img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
}

.stars {
  margin-top: 5px;
  font-size: 20px;
  color: #CBCBCB; 
}

.star-rating {
  margin-right: 3px;
}

.star-rating.full {
  color: gold; 
}

.star-rating.empty {
  color: #CBCBCB; 
}
